-num_apis = @apis.count
-@apis.each_with_index do |api, i|
  - div_class = "api_container " + grid_class(num_apis)
  - div_class += " last" if i == num_apis-1
  %div{:class => div_class}
    %h2
      %a{:href =>api.id}
        =api.title
    .api-info
      %img.icon{:src => api.api_info.icon }
      %h3=api.summary
      %p.desc
        %strong
          Description:
        =api.api_info.description
      %p
        %strong
          Rating:
        =api.api_info.rating
      %p
        %strong
          Data Formats:
        =api.api_info.dataFormats
