@import url(http://fonts.googleapis.com/css?family=Amaranth:700italic);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  vertical-align: baseline; }

div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
acronym, applet, big, center, dir, strike, tt, u {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  vertical-align: baseline; }

article aside details figcaption figure footer header hgroup menu nav section summary {
  display: block; }

body {
  line-height: 1; }

img,
a img {
  border: none; }

nav ol,
nav ul {
  list-style: none;
  margin: 0;
  padding: 0; }

blockquote,
q {
  quotes: none; }
  blockquote:before, blockquote:after,
  q:before,
  q:after {
    content: "";
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }
  table caption,
  table th,
  table td {
    font-weight: 400;
    text-align: left;
    vertical-align: middle; }
    table caption.center,
    table th.center,
    table td.center {
      text-align: center; }
    table caption.right,
    table th.right,
    table td.right {
      text-align: right; }
    table caption.top,
    table th.top,
    table td.top {
      vertical-align: top; }
    table caption.bottom,
    table th.bottom,
    table td.bottom {
      vertical-align: bottom; }

b,
strong {
  font-weight: 700; }

ol,
ul {
  padding: 0 0 0 24px; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

abbr[title] {
  border-bottom: 1px dotted; }

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: middle; }

button,
input {
  *overflow: visible;
  line-height: normal; }
  button::-mox-focus-inner,
  input::-mox-focus-inner {
    border: 0;
    padding: 0; }

input[type="checkbox"],
input[type="radio"] {
  cursor: pointer; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

textarea {
  overflow: auto;
  vertical-align: top; }

body {
  background: -webkit-linear-gradient(top, #606060 20%%, #a0a0a0 85%%);
  background: -moz-linear-gradient(top, #606060 20%%, #a0a0a0 85%%);
  background: -ms-linear-gradient(top, #606060 20%%, #a0a0a0 85%%);
  background: -o-linear-gradient(top, #606060 20%%, #a0a0a0 85%%);
  background: linear-gradient(top, #606060 20%%, #a0a0a0 85%%);
  min-height: 100%; }

h3 {
  font-style: italic; }

#header {
  height: 70px;
  background-color: #202020;
  -webkit-box-shadow: 0px 0px 5px 5px black;
  box-shadow: 0px 0px 5px 5px black;
  padding: 10px 30px; }
  #header h1 {
    font-size: 40px;
    color: white; }
  #header h3 {
    color: white; }

#container {
  margin: 20px;
  zoom: 1;
  max-width: 75.99879em;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 20px; }
  #container:before, #container:after {
    content: "";
    display: table; }
  #container:after {
    clear: both; }
  #container .api_container {
    border: 1px solid black;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    position: relative; }
    #container .api_container h2 {
      padding: 5px 10px;
      color: white;
      vertical-align: middle;
      font-size: 20px;
      background-color: #2A120A;
      -webkit-border-radius: 9px 9px 0 0;
      border-radius: 9px 9px 0 0; }
      #container .api_container h2 a {
        color: white;
        text-decoration: none; }
        #container .api_container h2 a:hover {
          text-decoration: underline; }
    #container .api_container p {
      margin-top: 10px; }
      #container .api_container p.desc {
        clear: both; }
    #container .api_container:not(.last):after {
      content: "plus";
      position: absolute;
      top: 130px;
      right: -55px;
      color: #2A0A0A;
      font-family: 'Amaranth', sans-serif;
      font-style: italic;
      font-size: 45px;
      z-index: 125;
      text-shadow: 3px 3px 0 white, -3px -3px 0 white, -3px 3px 0 white, 3px -3px 0 white; }
    #container .api_container .api-info {
      padding: 20px 30px;
      background-color: #f7f8c0; }
      #container .api_container .api-info img.icon {
        float: left;
        margin: 0 10px 10px 0; }
    #container .api_container.two-apis {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 48.82117%; }
      #container .api_container.two-apis:last-child {
        margin-right: 0; }
    #container .api_container.three-apis {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 31.76157%; }
      #container .api_container.three-apis:last-child {
        margin-right: 0; }
    #container .api_container.four-apis {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 23.23176%; }
      #container .api_container.four-apis:last-child {
        margin-right: 0; }
      #container .api_container.four-apis .api-info img.icon {
        float: none;
        display: block;
        margin: 0 auto 10px; }
