@import 'bourbon/bourbon';
@import "neat/neat";
@import url(http://fonts.googleapis.com/css?family=Amaranth:700italic);
@charset "UTF-8";
@include reset-and-normalize;

body{
  @include background(linear-gradient(rgb(96,96,96) 20%%, rgb(160,160,160) 85%%));
  min-height: 100%;
}

#header{
  height: 60px;
  background-color: #202020;
  @include box-shadow(0px 0px 5px 5px black);
  padding: 10px 30px;
  h1{
    font-size: 40px;
    color: white;
  }
}

#container{
  margin: 20px;
  @include outer-container;
  padding: 20px;
  
  .api_container{
    border: 1px solid black;
    @include border-radius(10px 10px 0 0);
    
    h2 {
      padding: 5px 10px;
      color: white;
      vertical-align: middle;
      font-size: 20px;
      background-color: #2A120A;
      @include border-radius(9px 9px 0 0);
      
      a {
        color: white;
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
      
    }
    
    h3 {
      font-style: italic;
    }
    
    p {
      margin-top: 10px;
    }
    
    position: relative;
    &:not(.last):after{
      content: "plus";
      position: absolute;
      top: 130px;
      right: -55px;
      color: #2A0A0A;
      font-family: 'Amaranth', sans-serif;
      font-style: italic;
      font-size: 45px;
      z-index: 125;
      text-shadow:
        3px 3px 0 #fff,
        -3px -3px 0 #fff,
        -3px 3px 0 #fff,
        3px -3px 0 #fff;
    }
    
    .api-info{
      img.icon {
        float: left;
        margin: 0 10px 10px 0;
      }
      
      padding: 20px 30px;
      background-color: #f7f8c0;
    }
    
    &.two-apis {
      @include span-columns(6);
    }
    &.three-apis {
      @include span-columns(4);
    }
    &.four-apis {
      @include span-columns(3);
      .api-info img.icon{
        float: none;
        display: block;
        margin: 0 auto 10px;
      }
    }
  }
}
